{% extends 'base.html.twig' %}

{% block title %}Access denied!{% endblock %}

{% block body %}
    <div class="flex flex-col w-1/2 mx-auto pt-8">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                Je hebt geen toegang.
            </div>
        </div>
    </div>
{% endblock %}
