{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <h1 class="mb-8 text-3xl text-center font-extrabold">Wachtwoord herstel email verstuurd</h1>
        <p>Er is een mail verstuurd met een link om het wachtwoord te herstellen. Deze link verloopt in: {{ tokenLifetime|date('g') }} uur.</p>
        <p>Als u nog niks ontvangen heeft controleer de spam box of <a href="{{ path('app_forgot_password_request') }}">verstuur een nieuwe mail</a>.</p>
    </div>
{% endblock %}
