<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Hallo!</h1>

    <p>Gebruik de volgende link om uw wachtwoord te reseten.</p>

    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

    <p>De link zal verlopen in: {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

    <p>Fijne dag!</p>
</div>
