{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col w-1/2 mx-auto pt-8">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Url
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                &nbsp;
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{ ardiuno.url }}
                            </td>
                            <td>
                                <div class="flex justify-end">
                                    <a href="{{ path('app_ardiuno_edit', {
                                        ardiuno: ardiuno.id
                                    }) }}" class="mr-2">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{ path('app_ardiuno_delete', {
                                        ardiuno: ardiuno.id
                                    }) }}" class="mr-2">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}